extends admin-base.pug

block title
    title Dashboard

block scripts
    script(src="https://kit.fontawesome.com/cb9560845e.js" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="../static/admin-base.js" defer)
    script(src="../static/admin-dashboard.js" defer)

block link
    link(rel="stylesheet", href="../static/admin-base.css")
    link(rel="stylesheet", href="../static/admin-dashboard.css")


block content
    #boxes
        #Totalusers.balbox
            #availtext.baltext
                h4 Total Users
                //- h1.balance 0
                h1.balance(data-target=Number(Users.length), unit = "Users") 0
            #availicon.icon     
                i(class= "fa fa-users")
        
        #TotalBal.balbox
            #totaltext.baltext
                h4 Total Earned
                h1.balance(data-target=total_earned, unit = "GOT") 0
                //- h1.balance 0
            #totalicon.icon     
                i(class= "fa fa-money")

        #withdrawBal.balbox
            #withdrawtext.baltext
                h4 Withdrawn Balance
                h1.balance 0
                //- h1.balance(data-target=Number(currentUser.withdrawnBalance)) 0
            #withdrawicon.icon     
                i(class= "fa fa-credit-card-alt")
        #Newusers.balbox
            #withdrawtext.baltext
                h4 Withdrawn Balance
                //- h1.balance 0
                h1.balance(data-target=new_users, unit = "Users") 0
            #newusericon.icon     
                i(class= "fa fa-credit-card-alt")
    #Activity 
        p #{Users[0]}
